body {
	background-color: #f5f5f5;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* 设置container宽度1280 */
@media  screen and (min-width:1280px) {
	.container {
		width: 1280px;
	}
}
header {
	padding-left: 0!important;
}
.logo {
	background-color: black;
}
.logo span {
	display: block;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.nav {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
@media screen and (max-width:991px) {
	.nav li {
		float: left;
		width: 20%;
	}
}
/* 当我们处于小屏幕的时候,第一个li宽度为100%其他为50% */
@media screen and (max-width:767px) {
	.nav li a {
		font-size: 12px;
		padding-left: 2px;
	}
	article {
		margin-top: 10px;
	}
	.news ul li:nth-child(1) {
			width: 100%!important;
		}
	.news ul li:nth-child(n+2) {
			width: 50%!important;
		}
	.publish h3 {
			font-size: 15px;
		}
}
.nav a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	font-size: 0.426666rem;
}
.nav a:hover {
	background-color: #fff;
	color: #333;
}
.nav a::before {
	vertical-align: middle;
	padding-right: 0.133333rem;
}
.news ul>li{
	float: left;
	width: 25%;
	height: 128px;
	margin-bottom: 10px;
	padding-right: 0.266666rem;
}

.news ul>li:nth-child(1) {
	width: 50%;
	height: 266px;
}
.news ul>li:nth-child(1) p {
	line-height: 42px;
	font-size: 0.533333rem;
	padding:0 10px ;
	text-align: center;
}
.carousel,.carousel img {
	height: 266px!important;
	width: 100%;
}
.news ul>li>a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.news ul>li a img {
	width: 100%;
	height: 100%;
}
.carousel-caption {
	line-height: 25px;
	font-size: 16px!important;
}
.news ul>li a p,
.carousel-caption{
	position: absolute;
	height: 42px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 10px;
	background-color: rgba(0,0,0,.5);
	font-size: 0.32rem;
	color: #fff;
	margin-bottom: 0;
}	
.publish {
	border-top: 1px solid #ccc;
}
.publish .row {
	margin-top: 20px;
}
.pic {
	margin-top: 10px;
}
.pic img {
	width: 100%;
	height: 100%;
}
.banner img {
	width: 100%;
}
.hot {
	display: block;
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 0 20px 20px;
}
.hot span {
	border-radius: 0;
}